.portfolio-entry {
    background-color: #b89b9b27;
    border-radius: 3px;
    border: 2px solid #e6e6e6;
    box-shadow: 3px 5px 5px #bebebe;
    color: #686868;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
    line-height: 35px;
    outline: none;
    width: 30%;
    margin: 2% 1% 2% 1%;
}