.portfolio-entry {
    align-items: center;
    background-color: #b89b9b27;
    border: none;
    box-shadow: 3px 5px 5px #bebebe;
    color: #686868;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
    line-height: 35px;
    margin-top: 1em;
    padding: 0.3%;
    outline: none;
    width: 30%;   
}

img {
    width: 100%;
}