.portfolio-entry {
    align-items: center;
    box-shadow: 3px 5px 5px #bebebe;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: 'Lekton', sans-serif;
    font-size: 22px;
    line-height: 35px;
    margin-top: 1em;
    padding: 0;
    width: 30%;
    border-radius: 7px;
}

button {
    background-color: #fffdf8;
    border: none;
    color: #686868;
    outline: none;
    padding: 0;
    border-radius: 7px;
}

button:focus {
    border: none;
    outline: none;
    border-radius: 7px;
}

img {
    width: 100%;
    border-radius: 7px;
}

.modal {
    color: #686868;
    font-family: 'Lekton', sans-serif;
    font-size: 22px;
    font-weight: 100;
    line-height: 28px;
    text-align: justify;

    .modal-dialog {
        max-width: 75%;
    }

    .modal-title {
        padding: 5% 5% 0 5%;
    }

    .modal-body {
        max-width: 90%;
        align-self: center;
    }

    button.close {
        align-content: center;
        font-size: 80px;
        font-weight: 100;
        margin-right: 5%;
    }
}

@media screen and (max-width: 499px) {
    .portfolio-entry {
        align-self: center;
        width: 80%;
    }

    .modal {
        text-align: left;

        .modal-dialog {
            max-width: 100%;
        }
    }
}

@media screen and (min-width: 500px) and (max-width: 900px) {
    .portfolio-entry {
        width: 48%;
    }

    .modal {
        text-align: left;

        .modal-dialog {
            max-width: 85%;
        }
    }
}
