.header {
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    width: 100%;
}

.header a {
    display: flex;
    color: #9e9e9e;
    float: right;
    font-size: 32px;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}

.header a:hover {
    color: #b9999988;
}

@media screen and (max-width: 900px) {
    .header a {
        font-size: 36px;
    }
}
