.footer {
    padding: 1em 2em 2em 2em;
    text-align: center;
    width: 100%;
}

.footer-content {
    align-self: center;
    padding-top: 5%;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
}
