.footer {
    background-color: lavenderblush;
    background-color: #b89b9b27;
    margin-top: 5em;
    padding-bottom: 2em;
    text-align: center;
    width: 100%;
}

h2 {
    color: rgb(131,81,110);
}

.footer-content {
    align-self: center;
    padding-top: 2%;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
}